:root {
   --icon-hover-color: #fe7;
   --form-background-color: rgb(231, 240, 234);
   --riddle-form-color: #fee9e3;
}

html {
   font-size: 0.95rem;
}

/* sidebar styles */

aside .list-group-item {
   padding: .75rem 1rem;
}

aside .list-group-item.active {
   background-color: #057;
   border-color: unset;
}

aside .list-group-item:hover {
   background-color: #def;
}

aside .list-group-item.active:hover {
   background-color: #068;
}

/* cursor and hover on action icons */

.action-icon, .action-icon-wrapper > * {
   cursor: pointer;
}

.action-icon:hover, .action-icon-wrapper > *:hover {
   fill: var(--icon-hover-color);
   color: var(--icon-hover-color);
}


/* circular button */

button.circular-button {
   border-radius: 50rem;
   padding: 0.6em 1.0em;
}

/* remove bootstrap blue color of <a> tag */

a {
   color: inherit
}

/* login form styles */

.login-button > button {
   width: 100%;
   border-radius: 30rem;
}

form .form-field > .form-control {
   font-size: 0.95em;
}

/* line separator */

div.line-separator {
   border-top: 1px solid #cbd2d6;
   margin-top: 1.2rem;
   height: 1.2rem;
}

div.line-separator > span {
   background-color: var(--form-background-color);
   padding: 0 0.5em;
   position: relative;
   color: #6c7378;
   top: -0.7em;
}

/* riddle form style */

.riddle-form button {
   border-radius: 50rem;
}

/* errors */
.error-box p {
   margin: 0;
}

