:root {
   --icon-hover-color: #fe7;
   --login-form-color: rgb(231, 240, 234);
   --riddle-form-color: #fecf95;
   --navbar-height: 4rem;
}

html {
   font-size: 1.05rem;
}

/* home page styles */

.home-row {
   height: calc(100vh - var(--navbar-height));
}

.home-row main {
   max-height: calc(78vh - var(--navbar-height));
}

/* riddle row styles */

@media (min-width: 1400px) {
   .riddle-row .col-xxl-10.adjust {
      width: 81.33333333%;
   }

   .riddle-row .col-xxl-1.adjust {
      width: 10.33333333%
   }
}

.riddle-row .accordion-button::after {
   position: absolute;
   right: 1.5rem;
}

.riddle-row .accordion-button:hover {
   z-index: initial
}

.riddle-row .accordion-button {
   min-height: 4.95rem;
}

span.riddle-owner {
   /*corsivo e grigio e più piccolo*/
   font-style: italic;
   color: grey;
   font-size: 0.75em;
   margin-top: 0.15em;
}

span.difficulty-badge {
   width: 4rem; 
   margin-left: 0.5rem;
}

span.riddle-question {
   font-size: 1.05em;
} 

.riddle-question-wrapper {
   padding-left: 1rem;
   padding-right: 1rem;
}

span.open-close-pill , span.owned-pill {
   width: 3.75rem; 
   margin-right: 0.5rem;
}

/* riddle-row-pad styles */

.riddle-row-pad .accordion-button,
.riddle-row-pad .accordion-button:not(.collapsed) {
   background-color: rgba(255, 255, 255, 0.5);
   box-shadow: none;
   cursor: inherit;
}

.riddle-row-pad .accordion-button::after { 
   background-image: none;
}

.riddle-row-pad {
   position: absolute;
   z-index: 1;
}

.riddle-row-pad, .riddle-row-pad * {
   background-color: transparent;
   border: none;
}

.riddle-row-pad.pad-start {
   top: 0;
   transform: translateY(-50%);
}

.riddle-row-pad.pad-end {
   bottom: 0;
   transform: translateY(50%);
}

.riddles-wrapper {
   position: relative;
}

/* navbar styles */

.riddles-navbar {
   height: var(--navbar-height);
} 

.riddles-navbar .sign-in-button, .riddles-navbar .logout-button {
   width: 5.5rem;
}

.riddles-navbar span.user-score {
   font-size: 1rem;
   font-weight: 600;
   color:rgb(255, 226, 6);
}

/* sidebar styles */

aside .list-group-item {
   padding: .75rem 1rem;
}

aside .list-group-item.active {
   background-color: #057;
   border-color: unset;
}

aside .list-group-item:hover {
   background-color: #def;
}

aside .list-group-item.active:hover {
   background-color: #068;
}

/* cursor and hover on action icons */

.action-icon, .action-icon-wrapper > * {
   cursor: pointer;
}

.action-icon:hover, .action-icon-wrapper > *:hover {
   fill: var(--icon-hover-color);
   color: var(--icon-hover-color);
}


/* circular button */

button.circular-button {
   border-radius: 50rem;
   padding: 0.6em 1.0em;
   z-index: 1;
}

/* remove bootstrap blue color of <a> tag */

a {
   color: inherit
}

/* login form styles */

.login-form .card-body {
   padding: 0;
}

.login-form {
   border: 0.5px solid grey; 
   border-radius: 8px; 
   padding: 1.4em 2.2em; 
   background-color: var(--login-form-color)
}

.login-form div.line-separator > span {
   background-color: var(--login-form-color);
}

.login-button > button {
   width: 100%;
   border-radius: 30rem;
}

form .form-field > .form-control {
   font-size: 0.95em;
}

/* line separator */

div.line-separator {
   border-top: 1px solid #cbd2d6;
   margin-top: 1.2rem;
   height: 1.2rem;
}

div.line-separator > span {
   padding: 0 0.5em;
   position: relative;
   color: #6c7378;
   top: -0.7em;
}

/* riddle form style */

.riddle-form {
   border-color: grey; 
   border-width: 0.5px;
   border-radius: 8px; 
   padding: 1.4rem 2.2rem;
   background-color: var(--riddle-form-color);
}

.riddle-form .card-body {
   padding: 0;
}

.riddle-form textarea, .riddle-form select, .riddle-form input {
   border-width: 1.5px;
   background-color: #fffd;
}

.riddle-form button {
   border-radius: 50rem;
   background-color: #fffa;
}

/* errors */
.error-box p, .success-box p {
   margin: 0;
}

/* ranking table styles */

main .table td, main .table th {
   padding: 0.6rem 1.5rem;
}

#ranking-table tr:nth-child(1) td {
   font-weight: bold;
   background-color: #eee;
}

#ranking-table td:nth-child(1),
#ranking-table th:nth-child(1) {
   width: 20%;
}

#ranking-table td:nth-child(3),
#ranking-table th:nth-child(3) {
   width: 60%;
}

#ranking-table td:nth-child(3),
#ranking-table th:nth-child(3) {
   width: 20%;
}



